<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cool Girls Code</title>	
</head>

<body>
     <header>
		 {% include 'includes/_navbar.html' %}
    </header>
    
    <div class="container-fluid">
		{% block body %}
		
	 
		
		{% endblock %}
    </div>
 <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>

<footer>
    <div class="copyright">
        <p align="center">&copy 2018 - CoolGirlsCode</p>
      </div>
       
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
      <footer class="footer">
        <div class="container text-center">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-skype"></i></a>
        </div>
 
</footer>
</html>
